<div ng-controller="StoryEditCtrl" class="story-edit" ng-init="init('<%= story.id %>')">
  <h1>Edit story &quot;{{ story.title }}&quot;</h1>


  <tabset style="min-height: 40em">
    <tab heading="story desription">
      <h2>Description</h2>

      <p>{{story.description}}</p>
    </tab>
    <tab heading="Story Pages">

      <h2>Pages</h2>

      <div class="story-pages">
        <div class="story-row head">
          <div class="story-cell id">ID</div>
          <div class="story-cell title">Title</div>
          <div class="story-cell code">Code</div>
        </div>
        <div class="story-row" ng-repeat="page in pages">
          <div class="story-cell id">{{page.id}}</div>
          <div class="story-cell title">{{page.title}}</div>
          <div class="story-cell code">{{page.code}}</div>
        </div>
      </div>
    </tab>
    <tab heading="New Page">
      <%- include newPageForm.ejs %>
    </tab>
  </tabset>
</div>

<script src="/wonderland/storyEdit.js" defer="defer"></script>
