<%- include ../form/genericFormErrors.ejs %>
<style>


</style>
<div ng-controller="StoryEditCtrl" class="story-edit" ng-init="init('<%= story.id %>')">
  <h1>Edit story &quot;{{ story.title }}&quot;</h1>
  <tabset style="min-height: 40em">
    <tab heading="Page Graph">
      <page-graph story="id" />
    </tab>
    <tab heading="story desription">
      <h2>Description</h2>

      <p>{{story.description}}</p>
    </tab>
    <tab heading="Story Pages">

      <h2>Pages</h2>

      <table class="table table-striped story-list">
        <thead>
        <tr>
          <th class="id">ID</th>
          <th class="title">Title</th>
          <th class="code">Code</th>
          <th class="jumps">Jumps</th>
        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="page in pages">
          <td class="id">{{page.id}}</td>
          <td class="title">{{page.title}}</td>
          <td class="code">{{page.code}}</td>
          <td class="jumps">
            <ul ng-if="page.jumps.length">
              <li ng-repeat="jump in page.jumps">
                {{ jump.toPageCode }}
              </li>
            </ul>
          </td>
        </tr>
        </tbody>
      </table>
    </tab>
    <tab heading="New Page">
      <%- include newPageForm.ejs %>
    </tab>
  </tabset>
</div>

<script src="/wonderland/storyEdit.js" defer="defer"></script>

<script src="/lib/d3/d3.min.js" defer="defer"></script>
