<alert ng-repeat="alert in alerts" type="alert.type"
       close="closeAlert($index)">{{alert.msg}}
</alert>

<h2>Create a new page</h2>

<form id="newPageForm"  valid-submit="validateSubmitHit()" novalidate>
  <div class="row">
    <div class="col-md-5">
      <div class="form-group">
        <label for="InputUsername"  ng-class="{'error': form.$submitted && form.name.$invalid}">Title</label>
        <input type="text" name="title" ng-model="newPage.title" class="form-control title" required="required"
               min="8" placeholder="Title of page">
               <div class="help">errors: {{ form.title.$error }}</div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="InputUsername">Code</label>
        <input type="text" ng-model="newPage.code" class="form-control code" pattern="^[\w\d\-_]*$"
               required="required" min="5" placeholder="link code" ng-change="userCodeChange()" />
               <div> <label><input type="checkbox" ng-model="newPage.customCode" ng-model-options="{ debounce: 500 }" /> Manual Page Code</label></div>
      
      </div>       
    </div>
        <div class="col-md-4" ng-show="showCodeSuggestion()">There is another page with this code;<br />
         <button class="btn btn-small standard-caps" type="button" ng-click="useUniqueCode()">
               Use Code &quot;{{codeSuggestion }}&quot;</button></div>
  </div>
<div>codeSuggestion: <b>{{ codeSuggestion }}</b><br />
showCodeSuggestions: <b>{{ showCodeSuggestion() }}</b><br/>
useCustomCode: <b>{{ !!newPage.customCode }}</b>
</div>
  <div class="form-group">
    <label for="InputDesc">Text</label>
   <div class="row">
     <div class="col-md-6" style=" height: 20em">
  <textarea class="form-control body" ng-model="newPage.body" style=" height: 19em"
            placeholder="Summary of page" required="required" rows="20">
    </textarea>
     </div>
     <div class="col-md-6" class="markup-preview" ng-bind-html="newPage.body_marked" style=" height: 20em; overflow: scroll">
     </div>
   </div>
   <div class="row">
     <div class="col-md-12">
       <button class="btn" type="button" ng-click="toggleSFP()">
         Show Full Page
       </button>
     </div>
   </div>
  </div>

  <h3>
    <button class="btn btn-default" ng-click="hideJumps = !hideJumps">
      <span class="glyphicon glyphicon-menu-right" ng-show="hideJumps"></span><span
        class="glyphicon glyphicon-menu-down" ng-hide="hideJumps"></span>
      {{ hideJumps?"Show Jumps":"Hide Jumps" }}
    </button> Page Jumps
  </h3>

  <div collapse="hideJumps">
    <div class="well well-lg">
      <div class="row">
        <div class="col-md-10">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Prompt</th>
              <th>To Code</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="jump in jumps">
              <td>{{ jump.prompt }}</td>
              <td>{{ jump.toPageCode }}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-2">
          <button class="btn btn-default" ng-click="addJump()">Add Jump</button>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <button type="submit" class="btn btn-primary btn-lg" >Create Page <!-- ng-click="sendPage()" --></button>
    </div>
    <div class="col-md-10">
    <div class="alert alert-danger" ng-show="newPageHasErrors()"
    <img class="icon" />
    You must complete this form before submitting a new page
    <ul>
    <li ng-repeat="error in newPageErrors()"> {{ error }}</li>
    </div>
    </div>
  </div>
  <%= include fullScreenPageEdit.ejs %>
</form>
