
  <div ng-controller="StoriesCtl" class="story-list">
    <h1>Wonderland Stories</h1>

    <% if (account) { %>
    <%- include story/newStoryForm.ejs %>
    <% } %>

    <div class="list">

      <div ng-if="account" class="well">
        <h2>Your Stories</h2>

        <wl-story ng-repeat="story in stories |filter: isOwnedByCurrentUser |orderBy :storyDate : true | limitTo: MAX_STORIES"
              class="story">
       </wl-story>

        <div class="story-footer" ng-if="myStoryCount() > MAX_STORIES">Displaying {{MAX_STORIES}} of {{myStoryCount()}} stories</div>
      </div>

      <div class="well transparent">
        <h2><%= account ? 'Other Stories' : 'Stories' %></h2>
      <wl-story ng-repeat="story in stories |filter: isNotOwnedByCurrentUser |orderBy :storyDate : true |limitTo: MAX_STORIES"
              class="story">
      </wl-story>
        <div class="story-footer" ng-if="publicStoryCount() > MAX_STORIES">Displaying {{MAX_STORIES}} of {{publicStoryCount()}} stories</div>

      </div>
    </div>
  </div>
<script src="/wonderland/stories.js" defer="defer"></script>
