<h1>Create a game</h1>

<form class="form-horizontal" id="add_game">
    <div class="control-group">
        <label class="control-label" for="inputName">Name</label>

        <div class="controls">
            <input type="text" id="inputName" name="name" placeholder="Name">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">genre</label>

        <div class="controls">
            <% ["historical", "fantasy", "modern", "near future/cyberpunk", "superhero", "action/cinematic", "horror",
            "sci fi"].forEach(function(genre){ %>
            <label class="radio"><input type="radio" name="genre" value="<%= genre %>"/><%= genre %></label>
            <% }) %>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn">Create Game</button>
        </div>
    </div>
</form>