<!-- a generic template of error messages known as "my-custom-messages" -->
<script type="text/ng-template" id="my-custom-messages">
  <div ng-message="required" class="validation-error">Required</div>
  <div ng-message="minlength" class="validation-error">Too short</div>
</script>