$borderColor: rgb(200, 200, 200);
$storyListInnerPadding: 0.5em;
$translucentWhite: rgba(255, 255, 255, 0.9);
$dateColor: rgba(0, 0, 0, 0.25);
$semiWhite: rgba(255, 255, 255, 0.95);

.story-list {
  .story {
    width: 20em;
    float: left;
    border: 1px solid $borderColor;
    padding: 1em;
    margin: 0.5em;
    background-color: $translucentWhite;
    overflow: hidden;

    min-height: 20em;
    p {
      margin: 0;
      padding: $storyListInnerPadding/2 $storyListInnerPadding;
    }

    .desc {
      height: 10em;
      overflow: hidden;
    }

    .date {
      text-align: right;
      color: $dateColor;
    }

    h2 {
      margin: 0;
      padding: $storyListInnerPadding/2 $storyListInnerPadding;
      font-size: 100%;
      font-weight: 700;
    }

    .footer {
      margin-top: $storyListInnerPadding;
    }
  }

  .story-footer {
    float: left;
    clear: both;
    font-weight: 500;
    padding: 1em;
    .btn {
      min-width: 40%;
    }
  }
}

.story-pages {
  width: 100%;
  margin: 0;
  padding: 0;
  .story-row {
    overflow: hidden;
    clear: both;
    .story-cell {
      float: left;
      height: 2em;
      &.id {
        width: 4em;
      }
      &.title {
        width: 30em;
      }
      &.code {
        width: 20em;
      }
    }
    &.head {
      .story-cell {
        font-weight: 700;
        overflow: hidden;
      }
    }
  }
}
