<link rel="stylesheet" type="text/css" href="/js/nerds/vendor/angular/ng-grid.css"/>
<link rel="stylesheet" type="text/css" href="/css/admin/nerds/create_game/create_game.css"/>

<script language="javascript">
    window.game_id = '<%= game_id %>';
</script>
<div id="game_creation" ng-app="NERDS_app" ng-controller="GameCreationCtrl">
    <h1>Game World Editor: {{ game.name }}</h1>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#places_graph" data-toggle="tab">Places Graph</a></li>
        <li><a href="#places_list" data-toggle="tab">Places List</a></li>
        <li><a href="#thing_editor" data-toggle="tab">Thing Editor</a></li>
        <li><a href="#thing_list" data-toggle="tab">Thing List</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="places_graph">
            <h2>Places</h2>

            <div>
                <canvas id="create_canvas" width="800" height="640">

                </canvas>

                <p>What you are looking at is a blank slate of "places" that can be explored in your game world.
                    No assumption of scale/size is made here, or of equalilty of relative size or connectivity.
                    This is a "blank slate" around which you can create your game flow. </p>
            </div>
        </div>

        <div class="tab-pane" id="places_list">
            <h2>Places List</h2>

            <div ng-grid="placeGridOptions" style="width: 100%; height:  30em"></div>
        </div>

        <div class="tab-pane" id="thing_editor">

            <h2>Thing Editor</h2>

            <div class="ui">
                <canvas class="thing_canvas" width="400" height="400">

                </canvas>
                <div class="draw_buttons">
                    <button ng-class="db_icon('rectangle')" ng-click="thing_draw('rectangle')" ></button>
                    <button  ng-class="db_icon('circle')"  ng-click="thing_draw('circle')"></button>
                    <button  ng-class="db_icon('triangle')" ng-click="thing_draw('triangle')"></button>
                    <button  ng-class="db_icon('polygon')"  ng-click="thing_draw('polygon')"></button>
                </div>
            </div>
            <div class="details form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="inputThingName">Name</label>

                    <div class="controls">
                        <input type="text" id="inputThingName" required placeholder="Name" ng-model="thing.name">
                    </div>

                </div>

                <div class="control-group">
                    <label class="control-label" for="inputThingType">Type</label>

                    <div class="controls">
                        <select ng-model="thing.type" id="inputThingType">
                            <option ng-repeat="type in object_types">{{ type }}</option>
                        </select>
                    </div>

                </div>

                <div class="control-group">
                    <label class="control-label">
                        Anchor
                    </label>
                    <div class="controls">
                        <table>
                            <tr>
                                <td>
                                    <label class="radio"><input type="radio" name="anchor" ng-model="thing.anchor" value="TL"/>TL</label>
                                </td>
                                <td>
                                    <label class="radio"><input type="radio" name="anchor"  ng-model="thing.anchor" value="T"/>Top</label>
                                </td>
                                <td>
                                    <label class="radio"><input type="radio"  name="anchor" ng-model="thing.anchor" value="TR"/>TR</label>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <label class="radio"><input type="radio" name="anchor"  ng-model="thing.anchor" value="L"/>Left</label>
                                </td>
                                <td>
                                    <label class="radio"><input type="radio" name="anchor" checked="checked" ng-model="thing.anchor" value="C"/>(center)</label>
                                </td>
                                <td>
                                    <label class="radio"><input type="radio" name="anchor"  ng-model="thing.anchor" value="R"/>Right</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="radio"><input type="radio"  name="anchor" ng-model="thing.anchor" value="BL"/>BL</label>
                                </td>
                                <td>
                                    <label class="radio"><input type="radio" name="anchor"  ng-model="thing.anchor" value="B"/>Bottom</label>
                                </td>
                                <td>
                                    <label class="radio"><input type="radio" name="anchor"  ng-model="thing.anchor" value="BR"/>BR</label>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <button type="submit" ng-click="save_thing()" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>

        </div>

        <div class="tab-pane" id="thing_list">

        </div>
    </div>

    <script type="text/ng-template" id="modalTileEditor.html">
        <div class="modal-header">
            <h3>Create/edit place for game &quot;{{ game.name }}&quot;</h3>
        </div>

        <div class="modal-body">
            <div class="form-horizontal" ng-form="pipForm">
                <div class="control-group">
                    <label class="control-label" for="inputName">Name</label>

                    <div class="controls">
                        <input type="text" id="inputName" class="input-xlarge" name="name" required ng-model="pip.name"
                               placeholder="Name"/>

                        <div class="text-error" data-ng-show="pipForm.name.$error.required && pipForm.name.$dirty">Name
                            is required
                        </div>

                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Type</label>

                    <div class="controls">
                        <select name="type" ng-model="pip.type" class="input-xlarge">
                            <option ng-repeat="type in types" ng-value="type">{{ type }}</option>
                        </select>
                        <br/>
                        <label for="otherTypeInput">Other:</label>
                        <input name="other_type" id="otherTypeInput" type="text" ng-model="pip.type"
                               ng-value="type" placeholder="other type"/>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Size</label>

                    <div class="controls">
                        <select name="type" required ng-model="pip.size" class="input-xlarge">
                            <option ng-repeat="size in sizes" ng-value="size.value">{{ size.label }}</option>
                        </select>
                        <br/>
                        <label for="otherSizeInput">Other:</label>
                        <input name="other_type" id="otherSizeInput" type="text" ng-model="pip.sizeOther"
                               ng-value="type" placeholder="other type"/> km
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="descriptionInput">Description</label>

                    <div class="controls">
                        <textarea id="descriptionInput" required class="input-xlarge" name="description" rows="3"
                                  placeholder="description"
                                  ng-model="pip.description">
                        </textarea>
                    </div>
                </div>

            </div>
        </div>

        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            <button class="btn btn-primary" ng-click="save()" ng-show="pipForm.$valid">Save</button>
        </div>
    </script>
</div>
