<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>NERDS Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

   
    <link rel="stylesheet" type="text/css"  href="/css/admin/bootstrap.css" />
    <link  rel="stylesheet" type="text/css" href="/css/admin/layout.css" />
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400italic,700italic,700,400' rel='stylesheet' type='text/css'>
    <!--[if gte IE 9]>
    <style type="text/css">
        .gradient {
            filter: none;
        }
    </style>
    <![endif]-->

    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }

        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    </style>
    <link href="/css/admin/bootstrap-responsive.css" rel="stylesheet">

   
    <!--[if lt IE 9]>
    <script src="/js/admin/html5shiv.js"></script>
    <![endif]-->

    <%- js_model.render('head') %>

   
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/admin/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/admin/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/admin/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/img/admin/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/hiveblog/ico/favicon.png">
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#">NERDS</a>

            <div class="nav-collapse collapse">
                <!--p class="navbar-text pull-right">
                    Logged in as <a href="#" class="navbar-link">Username</a>
                </p -->
                <ul class="nav">
                    <li class="active"><a href="/">Home</a></li>
                    <!--li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li -->
                </ul>
            </div>
           
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3" style="padding-right: 2em;">
            <%- helpers.member.menu.render() %>

            <div class="well sidebar-nav hidden-phone" >
                <%- helpers.sidebar_menu() %>
            </div>
           
        </div>
       
        <div class="span9">
            <%- body %>
        </div>
       
    </div>
   

    <hr>

    <footer>
        <p>&copy; Wonderland Labs 2013</p>
    </footer>

</div>
<!--/.fluid-container-->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<%- js_model.render('foot') %>

</body>
</html>
