*, input, html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #73b323;
}

html {
  background-color: black;
}

.backfaceVisibility {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

h1, h2, h3, h4, h5, h6 {
  -webkit-appearance:none;
  font-size: 150%;
  margin: 0;
  padding: 0;
  font-family: Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: white
}

.toolbar {
  background: rgb(179,242,203); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2IzZjJjYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iIzVkY2M4MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0YjkzNjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(179,242,203,1) 0%, rgba(93,204,130,1) 40%, rgba(75,147,99,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(179,242,203,1)), color-stop(40%,rgba(93,204,130,1)), color-stop(100%,rgba(75,147,99,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(179,242,203,1) 0%,rgba(93,204,130,1) 40%,rgba(75,147,99,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(179,242,203,1) 0%,rgba(93,204,130,1) 40%,rgba(75,147,99,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(179,242,203,1) 0%,rgba(93,204,130,1) 40%,rgba(75,147,99,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(179,242,203,1) 0%,rgba(93,204,130,1) 40%,rgba(75,147,99,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3f2cb', endColorstr='#4b9363',GradientType=0 ); /* IE6-8 */
}

h1 {
  font-size: 200%;
  text-transform: uppercase;
}

.main-surface {
  background: black;
}

.list {
  overflow: hidden;
}

.list-item {
  background-color: rgba(75,147,99,1);
  color: black;
  padding: 1em;
  padding-left: 2em;
  border-bottom: 1px solid black;
}

.button {
  border: 1px solid rgba(179,242,203,1);
  padding: 4px;
  color: white;
  font-width: bold;
  text-align: center;
  background-color: black;
  text-transform: uppercase;
  line-height: 20px;
}

.button.on {
  color: yellow;
}

.form {
  background-color: rgba(0,0,0,0.8);
  border: 1px solid rgb(98, 98, 98);
}

.c {
  text-align: center;
}

.label, .input, .textarea {
  padding: 4px 2px;
  font-size: 125%;
}

.input, .textarea {

  color: black;
  -webkit-appearance:none;
  border: 1px solid rgba(36, 255, 23, 0.50);
}

.input {
  padding: 4px;
  background: rgb(191,191,191); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JmYmZiZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU2JSIgc3RvcC1jb2xvcj0iI2UwZTNlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkM2UwZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(191,191,191,1) 0%, rgba(224,227,229,1) 56%, rgba(211,224,232,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(191,191,191,1)), color-stop(56%,rgba(224,227,229,1)), color-stop(100%,rgba(211,224,232,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(191,191,191,1) 0%,rgba(224,227,229,1) 56%,rgba(211,224,232,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(191,191,191,1) 0%,rgba(224,227,229,1) 56%,rgba(211,224,232,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(191,191,191,1) 0%,rgba(224,227,229,1) 56%,rgba(211,224,232,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(191,191,191,1) 0%,rgba(224,227,229,1) 56%,rgba(211,224,232,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfbfbf', endColorstr='#d3e0e8',GradientType=0 ); /* IE6-8 */

}

.textarea {
  background: rgb(191,191,191); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JmYmZiZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU2JSIgc3RvcC1jb2xvcj0iI2UwZTNlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkM2UwZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(191,191,191,1) 0%, rgba(224,227,229,1) 56%, rgba(211,224,232,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(191,191,191,1)), color-stop(56%,rgba(224,227,229,1)), color-stop(100%,rgba(211,224,232,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(191,191,191,1) 0%,rgba(224,227,229,1) 56%,rgba(211,224,232,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(191,191,191,1) 0%,rgba(224,227,229,1) 56%,rgba(211,224,232,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(191,191,191,1) 0%,rgba(224,227,229,1) 56%,rgba(211,224,232,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(191,191,191,1) 0%,rgba(224,227,229,1) 56%,rgba(211,224,232,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfbfbf', endColorstr='#d3e0e8',GradientType=0 ); /* IE6-8 */

}

.formtitle {
  font-weight: 700;
  color: white;
}

::-webkit-input-placeholder {
  color: rgb(146, 171, 156);
  color: white;
}

:-moz-placeholder { /* Firefox 18- */
  color: rgb(146, 171, 156);
  color: white;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: rgb(146, 171, 156);
  color: white;
}

:-ms-input-placeholder {
  color: rgb(146, 171, 156);
  color: white;
}

